.navbar {
   position: relative;
   background: $blueColor;
   .navbar__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.125rem; /* 50px */
      .logo {
         width: 40%;
         display: flex;
         align-items: center;
         img {
            width: 20%;
            max-width: 100%;
            margin-right: 1.25rem; /* 20px */
         }
         span {
            display: inline;
            font-size: 1.25rem; /* 20px */
            font-weight: 600;
            color: #fff;
         }
      }
      .title {
         color: #fff;
         font-size: 1.5625rem; /* 25px */
      }
      .back__link {
         display: flex;
         align-items: center;
         text-decoration: none;
         font-size: 1.875rem; /* 20px */
         color: #fff;
         .icon {
            display: inline-block;
            margin-right: 0.625rem; /* 10px */
         }
      }
      .navbar__items {
         .navbar__item {
            text-decoration: none;
            margin-right: 1.25rem; /* 20px */
            font-size: 1.25rem; /* 16px */
            border-bottom: 1px solid transparent;
            color: #fff;
            transition: all .3s ease;
            &:hover {
               opacity: .7;
               border-color: #fff;
            }
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .navbar {
      .navbar__content {
         flex-direction: column;
         .logo {
            width: 100%;
            justify-content: center;
            margin-bottom: 1.875rem; /* 30px */
            img {
               width: 10%;
            }
         }
         .back__link {
            margin-bottom: 1.875rem; /* 30px */
            font-size: 1.5625rem; /* 25px */
         }
         .title {
            font-size: 1.25rem; /* 20px */
         }
      }
   }
}

@media screen and (max-width: 600px) {
   .navbar {
      .navbar__content {
         .logo {
            flex-direction: column;
            img {
               width: 20%;
               margin: 0;
               margin-bottom: 1.25rem;
            }
         }
         .navbar__items {
            width: 100%;
            text-align: center;
            .navbar__item {
               font-size: 1rem; /* 16px */
            }
         }
         .title {
            text-align: center;
         }
      }
   }
}