.references__container {
   margin: 3.75rem auto; /* 60px auto */
   h1, h2 {
      color: $blueColor;
   }
   h1 {
      margin-bottom: 3.75rem; /* 60px */
   }
   .references {
      margin-bottom: 3.75rem; /* 60px */
      h2 {
         margin-bottom: 0.625rem; /* 10px */
      }
      .reference {
         margin: 1.875rem 0; /* 30px 0 */
         padding: 1.25rem 1.875rem; /* 20px 30px */
         font-size: 1rem; /* 16px */
         font-weight: 400;
         border-radius: 5px;
         box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
         background: #fff;
         transition: all .3s ease;
         &:hover {
            color: #fff;
            background: #121212;
            a {color: #fff;}
         }
         a {
            text-decoration: none;
            color: #121212;
         }
      }
   }
}